---
datechanged: 2017-07-13 13:32:19
slug: using-save-data-client-hint-with-bolt-betterthumbs
datecreated: 2017-06-14 13:59:44
status: published
image: data-compression-save-data.png
datepublish: 2017-06-14 13:56:07
datedepublish: null
title: 'Using Save-Data Client Hint with Bolt BetterThumbs'
metatitle: 'Using Save-Data Client Hint with Bolt BetterThumbs'
metadescription: 'Use the Save-Data client hint to send smaller images to users on low bandwidth connections while using Bolt BetterThumbs Extension'
metakeywords: 'client hint, client hints, save-data, chrome data compresion proxy, opera mini save data, chrome for android data saver, smaller images save data'
teaser: 'Using the Save-Data client hint with Bolt BetterThumbs to send smaller images to users on low bandwidth or slow connections'
tags: [ blogs, web performance ]
categories:
    - 'web performance' 
---