 
.icon-blog {
	background-image: url('png/blog.png');
	background-repeat: no-repeat;
}

 
.icon-demo {
	background-image: url('png/demo.png');
	background-repeat: no-repeat;
}

 
.icon-work {
	background-image: url('png/work.png');
	background-repeat: no-repeat;
}

 
.icon-contact {
	background-image: url('png/contact.png');
	background-repeat: no-repeat;
}

 
.icon-demo-mobile {
	background-image: url('png/demo-mobile.png');
	background-repeat: no-repeat;
}

 
.icon-work-mobile {
	background-image: url('png/work-mobile.png');
	background-repeat: no-repeat;
}

 
.icon-blog-mobile {
	background-image: url('png/blog-mobile.png');
	background-repeat: no-repeat;
}

 
.icon-contact-mobile {
	background-image: url('png/contact-mobile.png');
	background-repeat: no-repeat;
}

