---

slug: foundation-5-sass-and-grunt-uncss

status: published
image: foundation.jpg
date: 2014-03-19

title: 'Foundation 5, Sass and Grunt Uncss'
metatitle: 'Foundation 5, Sass and Grunt Uncss'
metadescription: 'How to use Grunt UnCSS to remove unused CSS from a Foundation 5 Sass project'
metakeywords: ''
teaser: '<p>CSS Frameworks are bloated! At least that is the argument. They can be is the truth. A standard Sass install with all components included of Foundation 5 is 111KB uncompressed 16 Kb compressed. They can also be as slim as you want. You can use only the parts you want when you use tools like Sass (scss) but that still may leave over unwanted styles. Grunt Uncss can fill in those gaps and shrink our file down even more.</p>'
tags: [ blogs, 'foundation' ]
categories:
    - 'foundation'
---
