 {# Include header, navigation here #}
 {#
  TODO:
      Make sure Parsley JS is included
      Setup Proper Parsley JS Validation
      Fix Parsley JS TextArea Validation Message...Its the "stock" one currently
      Fix Address Block Beneath Form
 #}

<div class="centered-header push-down">
    <h4>Get In Touch</h4>
  </div>
  <div class="container">
    <div class="form-submitted-container">
      <div class="form-success">
        {{  Message }}
      </div>
      <div class="form-error">
        {{ error }}
      </div>
    </div>
  </div>

  <div class="form-container">
    <form id="contact-form" action="#" method="post" class="contact-form" enctype="multipart/form-data" data-parsley-validate>
      <fieldset>
        <div class="name-email-container">
          <label for="contact_yourname">Your Name:</label>
          <input id="contact_yourname"
                 name="contact[yourname]"
                 required
                 data-parsley-required
                 placeholder="Bruce Wayne"
                 data-parsley-range="[4, 20]"
                 data-parsley-trigger="change"
                 type="text" />
        </div>
        <div class="name-email-container">
          <label for="contact_email">Email Address:</label>
          <input id="contact_email"
                 type="email"
                 name="contact[email]"
                 placeholder="Bruce@WayneEnterprises.com"
                 data-parsley-type="email"
                 data-parsley-trigger="change"
                 required
                 data-parsley-required />
        </div>
        <div class="textarea-container">
          <label for="contact_message">Message</label>
          <textarea id="contact_message"
                    name="contact[message]"
                    placeholder="Your message .."
                    data-parsley-required
                    data-parsley-trigger="change"
                    data-parsley-length="[5, 250]"
                    data-parsley-validation-threshold="3"
                    data-parsley-minlength-message = "Come on! You need to enter at least a 20 caracters long comment.."
                    type="textarea"></textarea>
        </div>
        <input type="hidden" id="contact__token" name="contact[_token]" value="" />
        <button type="submit" name="submit" value="Send" class=" tiny radius">Send</button>
      </fieldset>
    </form>
  </div>
  <div class="form-container">
    <p>
      Cory Dowdy Web Development
    </p>
    <p>
      Ravenna, Ohio 44266
    </p>
    <p>
      <script type="text/javascript">
      //<![CDATA[
      <!--
      var x="function f(x){var i,o=\"\",l=x.length;for(i=l-1;i>=0;i--) {try{o+=x.c" +
        "harAt(i);}catch(e){}}return o;}f(\")\\\"function f(x,y){var i,o=\\\"\\\\\\\""+
        "\\\\,l=x.length;for(i=0;i<l;i++){if(i>(65+y))y*=2;y%=127;o+=String.fromChar" +
        "Code(x.charCodeAt(i)^(y++));}return o;}f(\\\"\\\\%- 1(#)<g=9%9+#>ypo5u>%=?g" +
        "\\\\\\\\007~0?6\\\\\\\\014\\\\\\\\025\\\\\\\\rY\\\\\\\\007\\\\\\\\n\\\\\\\\" +
        "024\\\\\\\\036(\\\\\\\\n\\\\\\\\005\\\\\\\\031\\\\\\\\025\\\\\\\\t\\\\\\\\0" +
        "01\\\\\\\\030\\\\\\\\024\\\\\\\\010\\\\\\\\\\\\\\\\\\\\\\\\020\\\\\\\\033\\" +
        "\\\\\\030I\\\\\\\\004\\\\\\\\r\\\\\\\\033\\\\\\\\020\\\\\\\\036\\\\\\\\037\\"+
        "\\\\\\tCHdnokY$'|`~gi0R-S~`j4Qy`|`:Ly\\\\\\\\177>[EWGOKUKBF]\\\\\\\\nnALGCl" +
        "\\\\\\\\023\\\\\\\\014vYT_[\\\\\\\\030t_\\\\\\\\007\\\\\\\\023\\\\\\\\\\\\\\"+
        "\\\\\\\\\\000\\\\\\\\035izrx\\\"\\\\,65)\\\"(f};)lo,0(rtsbus.o nruter};)i(t" +
        "Arahc.x=+o{)--i;0=>i;1-l=i(rof}}{)e(hctac};l=+l;x=+x{yrt{)611=!)31/l(tAedoC" +
        "rahc.x(elihw;lo=l,htgnel.x=lo,\\\"\\\"=o,i rav{)x(f noitcnuf\")"             ;
      while(x=eval(x));
      //-->
      //]]>
    </script>
    </p>
  </div>

    {# Include Footer, closing main, scripts and body #}