---

slug: improving-pagespeed-performance

status: published
image:  2014-06/88mph.png
date: 2014-06-06

title: 'Improving PageSpeed Performance'
metatitle: ''
metadescription: 'Improve PageSpeed scores using front end development best practices, optimize images, avoid render blocking javascript, optimize critical rendering path and get "critical css".'
metakeywords: 'critical rendering path,Web Performance Best Practices, minimize requests, minify css and javascript, optimize images, inline critical css, render blocking javascript'
teaser: '<p>When I''m developing a website one of the development considerations I take into account among many is Website/Webpage performance. I want my site or the site I''m working on to load or look like its loaded as fast as possible with as few requests as possible. Slow loading websites are a pain the in ass for an end user. Slow rendering pages can make the difference of a visitor to your site using your service or moving on to one of your competitors. We don''t want that.</p>'
tags: [ blogs, web performance ]
categories:
    - 'web performance'
---
