// =====================================================================================================================
//                    __
//    _____  ____    / /  ____    _____   _____
//   / ___/ / __ \  / /  / __ \  / ___/  / ___/
//  / /__  / /_/ / / /  / /_/ / / /     (__  )
//  \___/  \____/ /_/   \____/ /_/     /____/
//
// =====================================================================================================================
$oil                            : #333;
$header-bg-color                : #333;
$header-nav-link-color          : #ECF0F1;
$header-nav-list-item-bg-hover  : rgba(255,255,255,.2);
$header-nav-anchor-color-hover  : transparent;
//$body-bg                        : #f8f8f8;
$body-color                     : #222222;

// =====================================================================================================================
//     __
//    / /_   __  __    ____   ___
//   / __/  / / / /   / __ \ / _ \
//  / /_   / /_/ /   / /_/ //  __/
//  \__/   \__, /   / .___/ \___/
//        /____/   /_/
//
// =====================================================================================================================
//$rem-base               : 16px;
//$base-font-size         : 100%;
//$base-line-height       : 1.5;
//$font-family-sans-serif : "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
$font-weight-normal     : normal;
$font-weight-bold       : bold;
$h1-font-size           : rem-calc(40);

// =====================================================================================================================
//      __                       __
//     / /_   ___   ____ _  ____/ /  ___    _____
//    / __ \ / _ \ / __ `/ / __  /  / _ \  / ___/
//   / / / //  __// /_/ / / /_/ /  /  __/ / /
//  /_/ /_/ \___/ \__,_/  \__,_/   \___/ /_/
//
//
// =====================================================================================================================
$header-height      : 3.125em; // 50px
// above 800px
$big-header-height  : 6.25em; // 100px
$header-padding     : rem-calc(5) 0;
// padding 800px and up
$big-header-padding : rem-calc(15) 0;
