
/* grid stylings */

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1100px;
  @include clearfix();
}

/* full width row/column */
.full {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  float: left;
}

/* full width on small half width on bigger screens always half for non media query browsers */
.full-to-half,
.full-to-half--small-center-only {
  padding-left: 15px;
  padding-right: 15px;
  width: 50%;
  float: left;
}

.full-to-half--small-center-only {
  width: 50%;
}

.listing-snippet,
.snippet {
  padding-left: 15px;
  padding-right: 15px;
  width: 66.6666666667%;
  float: left;
}

.snippet {
  margin-left: auto;
  margin-right: auto;
  float: none;
}

.listing-image {
  padding-left: 15px;
  padding-right: 15px;
  width: 33.3333333333%;
  float: left;
}


/* homepage intro */
.home-intro {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  float: left;
}

.flex-home-featured {
  display: block;
  width: 100%;
  @include clearfix();
}

.featured-item {
  display: block;
  float: left;
  text-align: center;
  margin-bottom: 20px;
  width: 50%;
}

/* work stuff */
.showcase-container {
  padding-left: 15px;
  padding-right: 15px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  float: none;
}

.showcase-container--caption {
  margin-top: 20px;
}

/* Demo Nav sub Nav */
.demo-nav dd {
  float: none;
  display: inline;
}

/* demo video container */
.video-container, .form-header {
  padding-left: 15px;
  padding-right: 15px;
  width: 83.3333333333%;
  margin-left: auto;
  margin-right: auto;
  float: none;
}

/* demo popup blocks */

.popup-block--two,
.popup-block--css-dialog {
  display: block;
  padding: 0;
  margin: 0 -10px;
  @include clearfix();
}

.popup-block--two > li,
.popup-block--css-dialog > li {
  width: 25%;
  padding: 0 10px 20px;
  list-style: none;
  display: block;
  height: auto;
  float: left
}

.popup-block--css-dialog > li {
  width: 33.3333333333%;
}


/* blog stuff */

.centered-header {
  padding-left: 15px;
  padding-right: 15px;
  width: 83.3333333333%;
  margin-left: auto;
  margin-right: auto;
  float: none;
  text-align: center;
}


.blog-info-using {
  display: block;
  font-weight: normal;
  margin-bottom: 1.25rem;
  position: relative;
  padding: 0.875rem 1.5rem 0.875rem 0.875rem;
  font-size: 0.8125rem;
  transition: opacity 300ms ease-out;
  background-color: #2C3E50;
  border: 1px solid #263545;
  color: #FFFFFF;
  text-align: center;
}
.centered-5-to-full {
  width: 41.6666666667%;
  margin-left: auto;
  margin-right: auto;
  float: none;
}
.quick-nav-panel {
  color: #2C3E50;
  padding: 10px;
  margin-bottom: 25px;
  border: solid 2px #ddd;
  border-radius: 4px;
}

.quick-nav-panel p {
  text-align: center;
}

.block-grid--sm2-lg3 {
  display: block;
  padding: 0;
  margin: 0 -10px;
  @include clearfix();
}

.block-grid--sm2-lg3 > li {
  width: 33.3333333333%;
  padding: 0 10px 20px;
  list-style: none;
}

/* blog listing page */
.blog-list {
  padding-left: 15px;
  padding-right: 15px;
  width: 75%;
  float: left;
}

.blog-list--sidebar {
  padding-left: 15px;
  padding-right: 15px;
  width: 25%;
  float: left;
}

.blog-list-search-input {
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  float: left;
}

.blog-list-search-button-container {
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  float: left;
}

/* contact page stuff */
.form-container,
.form-submitted-container {
  padding-left: 15px;
  padding-right: 15px;
  width: 66.6666666667%;
  margin-left: auto;
  margin-right: auto;
  float: none;
}

/* typography stuffs */
h1 {
  font-size: 40px;
}

h2 {
  font-size: 37px;
}


h3 {
  font-size: 27px;
}


h4 {
  font-size: 23px;
}

h5 {
  font-size: 20px;
}


/* visibility stuff */
.hide-small {
  display: inline-block;
}

.show-for-small {
  display: none;
  visibility: hidden;
}


/* syntax highlighting */
pre[class*="language-"] {
  background: #272822;
}

code {
  background: #272822;
  color: #fff;
}

//.fn-header__button {
//  display: none;
//  visibility: hidden;
//}
