---
image: demos/respimg/red-panda.jpg
icon: icon-demos-bolt
title: 'Bolt Responsive Images'
metadescription: 'Bolt CMS extension to enable responsive images (srcset) in your templates'
listingTitle: Bolt Responsive Images
listingDescription: Bolt Extension For Responsive Images
tags: [ demos ]
---
