---
image: demos/html5-videos-icon.png
title: Bolt HTML5 Videos V1
eleventyExcludeFromCollections: true
metatitle: 'Bolt HTML5 Videos V1.x'
metadescription: 'Demo page for Version 1.x of A Bolt CMS extension that creates an HTML5 video tag to use for local or CDN videos or using a video in a loop for gif like animations.'
stillActive: false
listingTitle:
listingDescription:
---
