---
image: demos/betterthumbs/redpanda-eric_kilby.jpg
icon: icon-demos-bolt
datedepublish: null
title: 'Bolt Betterthumbs'
metatitle: 'Bolt Betterthumbs'
metadescription: 'Bolt CMS extension for secure thumbnails, responsive images using srcset and image effects and filters.'
metakeywords: Intervention Image Bolt CMS, Bolt Responsive Images, Bolt Srcset, Bolt crop direction, Bolt Image Effects, Bolt Image Filters, Bolt Secure Thumbnails, Bolt Thumbnail Cache, Bolt Thumbnail Cache Primer
listingTitle: BetterThumbs for Bolt
listingDescription:  Bolt Extension For BetterThumbnails & Responsive Images
tags: [ demos ]
---

<div class="centered-header push-down">
  <h1>Bolt CMS BetterThumbs Extension</h1>
  <ul class="demo-nav">
    <li class="demo-nav--item">
      <a class="demo-nav--anchor" href="#how">Installation</a>
    </li>
    <li class="demo-nav--item">
      <a class="demo-nav--anchor" href="#config">Example Setup</a>
    </li>
    <li class="demo-nav--item">
      <a class="demo-nav--anchor" href="#quick">Quick Use</a>
    </li>
    <li class="demo-nav--item">
      <a class="demo-nav--anchor" href="#widths">Template Usage</a>
    </li>
    <li class="demo-nav--item">
      <a class="demo-nav--anchor" href="#advanced">Advanced Usage</a>
    </li>
    <li class="demo-nav--item">
      <a class="demo-nav--anchor" href="#info">Source</a>
    </li>
  </ul>
</div>
<!-- /.centered-header -->

<div class="full">
  <p>
    This is a <a href="https://bolt.cm" class="external-link">Bolt</a> Content Management System extension that enables you to use a twig tag to produce responsive images using <strong>srcset</strong> and also use
    <a href="http://glide.thephpleague.com/" class="external-link">Glide</a> which is backed by the image manipulation library
    <a href="http://image.intervention.io/" class="external-link">Intervention</a>
  </p>
  <p>
    This extension creates responsive images by default, secures thumbnail URL's to prevent unwanted modifications, allows images to be deleted individually from the cache or all at once, and to generate images and place those into the cache before hand. You also have an option to use a PHP-Imagick (imagemagick) as the driver to produce your image thumbnails.
  </p>
</div>

