---
title: Bolt Webfont Loader
slug: http://extensions.bolt.cm/view/2d970956-ef5a-11e4-9120-621e70d6e3eb
description: Bolt Extension Using Typekit Webfont Loader.
icon: icon-demos-bolt
stillActive: false
listingTitle: Bolt WebFont Loader
listingDescription: Bolt Extension Using Typekit Webfont Loader.
tags: [ demos ]
---
