---

icon: icon-demos-c5
title: Concrete5 Magnific Popup
metadescription: 'Concrete5 Magnific Popup Add-on Block for Concrete5 minimum version 5.6.0.'
listingTitle:
listingDescription: Add-on using Magnific Popup Lightbox Plugin
tags: [ demos ]
---
