---
slug: work
datecreated: 2014-03-19 15:31:56
datechanged: 2014-09-25 14:28:50
datepublish: 2014-03-19 15:31:19
datedepublish: -0001-11-30 00:00:00
status: published
templatefields: []
title: work
metatitle: work
metadescription: Some of my work I've done along with CMS addons
image:
teaser:
tags: mainnav
layout: default
headscript: ['/js/lib/lazysizes.3b6dd2a7.min.js'  ]
---

    <section id="current" class="current-project--evolution full">
        <h2>Current Project</h2>
        <div class="container">
          <div class="showcase-container">
            <figure class="showcase-figure">
              <img class="center"
                   sizes="(min-width: 40em) 80vw, 100vw"
                   srcset="/files/bypp-showcase-200.png 200w,
                              /files/bypp-showcase-300.png 300w,
                              /files/bypp-showcase-478.png 478w,
                              /files/bypp-showcase-521.png 521w,
                              /files/bypp-showcase-658.png 658w,
                              /files/bypp-showcase-726.png 726w,
                              /files/bypp-showcase-817.png 817w,
                              /files/bypp-showcase-901.png 901w,
                              /files/bypp-showcase-1049.png 1049w,
                              /files/bypp-showcase-1185.png 1185w,
                              /files/bypp-showcase-1311.png 1311w,
                              /files/bypp-showcase-1433.png 1433w,
                              /files/bypp-showcase-1548.png 1548w,
                              /files/bypp-showcase-1600.png 1600w"
                   src="/files/bypp-showcase-658.png"
                   alt="Backyard Pleasure Pools site on Multiple Devices">
              <figcaption class="showcase-container--caption">
                <p>
                  The above screen shots are of Backyard Pleasure Pools. An inground pool company located in Ravenna, Ohio.
                  They specialize in custom pools, pool rebuilds and maintenance.
                </p>
              </figcaption>
            </figure>

          </div> <!-- ./showcase-container -->
        </div>
        <div class="full">
          <h3>Site Evolution:</h3>
          <hr/>
          <ul class="icon-blocks">
            <li class="image-lightbox">
              <a href="https://pullzone1-corydowdywebdesi.netdna-ssl.com/assets/img/work/comp_1_pop.png" title="First Site Comp.">
                <img class="center lazyload"
                     {#data-sizes="25vw"#}
                     data-sizes="auto"
                     data-srcset="/files/comp1-th-140w.png 140w,
                     /files/comp1-th.png 395w"
                     data-src="/files/comp1-th-140w.png"
                     alt="first site comp"/>
              </a>
              <p class="showcase-popup-caption">First Site Comp. <small class="hide-small">click to enlarge</small></p>
            </li>
            <li class="image-lightbox">
              <a href="https://pullzone1-corydowdywebdesi.netdna-ssl.com/assets/img/work/comp_2_pop.png" title="Second Site Comp.">
                <img class="center lazyload"
                     data-sizes="auto"
                     data-srcset="/files/comp2-th-140w.png 140w,
                                /files/comp2-th.png 395w"
                     data-src="/files/comp2-th-140w.png"
                     alt="Second site comp"/>
              </a>
            <p class="showcase-popup-caption">Second Site Comp. <small class="hide-small">click to enlarge</small></p>
            </li>
            <li class="image-lightbox">
              <a href="https://pullzone1-corydowdywebdesi.netdna-ssl.com/assets/img/work/comp_3_pop.png" title="Third Site Comp.">
                <img class="center lazyload"
                     data-sizes="auto"
                     data-srcset="/files/comp3-th-140w.png 140w,
                                /files/comp3-th.png 395w"
                     data-src="/files/comp3-th-140w.png"
                     alt="Third site comp"/>
              </a>
              <p class="showcase-popup-caption">Third Site Comp. <small class="hide-small">click to enlarge</small></p>
            </li>
            <li class="image-lightbox">
              <a href="https://pullzone1-corydowdywebdesi.netdna-ssl.com/assets/img/work/current_pop.png" title="Current Site.">
                <img class="center lazyload"
                     data-sizes="auto"
                     data-srcset="/files/current-th-140w.png 140w,
                            /files/current-th.png 395w"
                     data-src="/files/current-th-140w.png"
                     alt="Current Backyard Pleasure Pools site"/>
              </a>
              <p class="showcase-popup-caption">Current Site. <small class="hide-small">click to enlarge</small></p>
            </li>
          </ul>
        </div>
      <!-- /.showcase-container-full -->
    </section> <!-- ./evo -->
    <hr/>
    <section id="github-links">
      <div class="full">
        <h3>My Github</h3>

        <p>You can find my Open Source work and the source for this site at my Github account:</p>
        <ul class="external-link-list">
          <li>
            <a href="https://github.com/cdowdy">Github <span
                class="link-icon icon-github-link"></span></a>
          </li>
          <li>
            <a href="https://github.com/cdowdy/corydowdy.com-site">Site Source <span
                class="link-icon icon-github-link"></span></a>
          </li>
        </ul>
      </div>
    </section>


