---
datechanged: 2017-06-15 09:07:32
slug: converting-mp4-to-webm
datecreated: 2016-09-08 18:26:07
status: published
image: mp4webm.jpg
datepublish: 2016-09-08 18:23:42
datedepublish: null
title: Converting MP4 to WebM
metatitle: Converting MP4 to WebM
metadescription: 'Converting MP4 videos to WebM with FFmpeg and optimizing them for the web'
metakeywords: 'mp4, webm, ffmpeg, webm for gifs, mp4 for gifs, convert mp4 to webm, convert to webm, optimize webm, optimize mp4, mp4 to webm,  ffmpeg windows, ffmpeg windows bash, ffmpeg osx'
teaser: "<p>Opmitimizing MP4 and WebM videos for the web and converting MP4\_to WebM</p>\r\n"
tags: [ blogs ]
---