---
slug: converting-mp4-to-webm
status: published
image: mp4webm.jpg
date: 2016-09-08 18:23:42
title: Converting MP4 to WebM
metatitle: Converting MP4 to WebM
metadescription: 'Converting MP4 videos to WebM with FFmpeg and optimizing them for the web'
metakeywords: 'mp4, webm, ffmpeg, webm for gifs, mp4 for gifs, convert mp4 to webm, convert to webm, optimize webm, optimize mp4, mp4 to webm,  ffmpeg windows, ffmpeg windows bash, ffmpeg osx'
teaser: "<p>Opmitimizing MP4 and WebM videos for the web and converting MP4\_to WebM</p>\r\n"
tags: ['blogs', 'web performance' ]
categories:
    - 'Web Performance'
---
