

<form method="get" action="{{ paths.root }}search" id="searchform" enctype="text/plain">
  <div class="container">
    <div class="blog-list-search-input">
      <label for="search">Search For A Post
      {#<input id="search" type="search" aria-label="Search For A Post" placeholder="Search For Post">#}
      <input type="search"
             value="{% if search is defined %}{{ search|escape }}{% endif %}"
             placeholder="{{ __("Search For A Post") }}" name="search">
        </label>
      </div>
    <div class="blog-list-search-button-container ">
      <button  class="search search-button">Search</button>
    </div>
  </div>
</form>
