---
layout: blogentry
slug: flexbox-mobile-navigation

status: published
image: flex-img.png
date: 2015-03-31

title: Flexbox Mobile Navigation
metatitle: ''
metadescription: 'Flexbox mobile dropdown navigation. Works with JavaScript Disabled and is accessible.'
metakeywords: 'flexbox, flexbox dropdown, flexbox mobile dropdown, progressive enhancement, accessible navigation'
teaser: '<p>Flexbox mobile dropdown navigation. Fully accessible with fallbacks for browsers that do not recognize flexbox.</p>'
tags: [ blogs, foundation, web performance ]
categories:
    - 'Web Performance'
    - 'foundation'
---
