---
datechanged: 2015-08-18 15:50:58
slug: flexbox-mobile-navigation
datecreated: 2015-03-31 17:24:44
status: published
image: flex-img.png
datepublish: 2015-03-31 15:09:38
datedepublish: null
title: Flexbox Mobile Navigation
metatitle: ''
metadescription: 'Flexbox mobile dropdown navigation. Works with JavaScript Disabled and is accessible.'
metakeywords: 'flexbox, flexbox dropdown, flexbox mobile dropdown, progressive enhancement, accessible navigation'
teaser: '<p>Flexbox mobile dropdown navigation. Fully accessible with fallbacks for browsers that do not recognize flexbox.</p>'
tags: [ blogs, foundation, web performance ]
---