<!doctype html>
<html class="no-js" lang="{{ htmllang() }}">
<head>
    {# Include from include folder
       Charset, Viewport, Title, DNS Prefetch, MS Validation, and Chrome Web App
    #}
    {% include 'headers/includes/_top.html.twig' %}
    <link rel="stylesheet" href="{{ paths.theme}}css/app.css"/>
    {% include 'headers/includes/_javascripts.html.twig' %}
</head>
<body>
<header class="app-bar promote-layer" role="banner">
    <div class="app-bar-container">
        <button class="menu">
            <svg class="menu-icon">
                <use xlink:href="{{ paths.theme }}svgsprites/linkicons-sprite.svg#a"></use>
            </svg>
        </button>
        <h1 class="logo">Cory Dowdy</h1>
    </div>
</header>
{#
<nav class="navdrawer-container promote-layer" role="navigation" id="menu">
    <h4>Navigation</h4>
    <ul>
        <li class="large-only name"><h1><a href="#">Cory Dowdy Web Development</a></h1></li>
        <li><a href="#hello">Work</a></li>
        <li><a href="#get-started">Contact</a></li>
        <li><a href="styleguide/index.html">Blog</a></li>
        <li><a href="styleguide/index.html">Demos</a></li>
    </ul>
</nav>
#}
{# Insert Menu from menu directory #}
{{ menu('main', 'menu/_menu.html.twig') }}
<main class="container" role="main">