<meta charset="utf-8" />
<title>
  {% if record.title is defined %}{{ record.title|striptags }} | {% endif %}
  {{ app.config.get('general/sitename') }}
  {% if record.title is not defined and app.config.get('general/payoff') %} | {{ app.config.get('general/payoff') }}{% endif %}
</title>
{% include 'prefetch/_dns-prefetch.html.twig' %}
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="msvalidate.01" content="346403273F73350B6928A46B28684A5B" />
<meta name="mobile-web-app-capable" content="yes">
