<!-- Footer -->
<footer>
    <p class="text-center">&copy Cory Dowdy Web Development</p>
</footer>
</section>

<!-- close the off-canvas menu -->
<a class="exit-off-canvas"></a>
</div>

</div>
<script src="{{ paths.theme }}js/min/CoryDowdy.min.js" ></script>
<script>$(document).foundation();</script>
</body>
</html>
