{% set link = pager.makelink() %}

{% if pager.totalpages > 1 %}
  <section class="blog-pagination">
    <ul class="pagination-list" role="menubar" aria-label="Pagination">
          {# 'first' and 'prev' #}
          {% if pager.current > 1 and class!="narrow" %}
          <li class="arrow">
            <a href="{{link}}{{pager.current-1}}" aria-label="Newer Posts">&laquo; Newer Posts</a>
          </li>
          {% endif %}

          {% if pager.current < pager.totalpages and class!="narrow" %}
            <li class="arrow"><a  href="{{link}}{{pager.current+1}}"> Older Posts &raquo;</a></li>
          {% endif %}
        </ul>
    </section>
{% endif %}
