
<footer class="row">
    <p>&copy Cory Dowdy Web Development</p>
</footer>
</section>

<!-- close the off-canvas menu -->
<a class="exit-off-canvas"></a>
</div>

</div>


<script src="{{ paths.theme }}js/min/CoryDowdy.min.js"></script>
<script>
    $(document).foundation();
    $(document).foundation('interchange', {
        named_queries : {
            smallLarge : 'only screen and (max-width: 799px)',
            largeUp    : 'only screen and (min-width: 800px)'
        }
    });
    $(document).ready(function() {

        $('.image-popup-vertical-fit').magnificPopup({
            type: 'image',
            closeOnContentClick: true,
            mainClass: 'mfp-img-mobile',
            image: {
                verticalFit: true
            }
        });
    });

    $(function(){FastClick.attach(document.body);});$(function(){$("img.lazy").jail()});
</script>
</body>
</html>
