{% include 'headers/_blog-header.twig' %}

<section class="row container">
    <div class="small-12 columns" role="content">
        <article>
            <header class="blog-title">
                <h3>{{ record.title }}</h3>
                <h6 class="pub-date">
                    {% set recdate = record.datepublish|localdate("%A %B %e, %Y") %}
                    {{ __('%date%',{'%date%': recdate }) }}</h6>
                <hr/>
            </header>
            {{ record.body }}
        </article>
    </div>
</section> <!-- /.container -->

{% include 'blog/_blog-post-footer.twig' %}
