{#
    08/16/2014
#}

{% extends 'base.html.twig' %}




         {% block inlined_styles %}
             <style>
                 {% include 'css/critical-css/contact.03-26-2015.min.css' %}
                 {% include 'css/fout.twig' %}
             </style>
         {% endblock %}


{% block body %}
<div class="centered-header push-down">
    <h4>Get In Touch</h4>
</div>
<div class="form-container">
    {{ simpleform( 'contact' ) }}
</div>
<div class="form-container center-text">
    <p>
        Cory Dowdy Web Development
    </p>
    <p>
        Ravenna, Ohio 44266
    </p>
    <p>
    </p>
</div>
{% endblock %}

{% block footer_javascripts %}
<script src="{{ paths.theme }}js/contact.21-08-2014.js" async defer></script>
    {{ parent() }}
{% endblock footer_javascripts %}
