{#
    08/16/2014
#}

{% extends 'base.html.twig' %}

 {% block enhance_js_meta %}
     <meta name="fullcss"  content="{{ paths.theme}}css/contact.min.css">
     <meta name="fulljs" content="{{ paths.theme }}js/contact.21-08-2014.js">
 {% endblock %}

 {% block stylesheets %}
     {% block fout %}
     {% endblock fout %}
     {% if app.request.cookies.has('fullcss') %}
         <link rel="stylesheet" href="{{ paths.theme}}css/contact.min.css"/>
     {% else %}
         {% block inlined_styles %}
             <style>
                 {% include 'css/critical-css/contact-critical.css' %}
             </style>
         {% endblock %}
     {% endif %}
 {% endblock %}


{% block body %}
<div class="centered-header push-down">
    <h4>Get In Touch</h4>
</div>
<div class="form-container">
    {{ simpleform('contact') }}
</div>
<div class="form-container center-text">
    <p>
        Cory Dowdy Web Development
    </p>
    <p>
        Ravenna, Ohio 44266
    </p>
    <p>
    </p>
</div>
{% endblock %}
