{% include 'headers/_demo-header.html.twig' %}



<div class="demo-container">
    <div class="demo-wrap">
        <div class="row">
            {{ record.body }}
            </div>
        </div>
    </div> <!-- /.demo-wrap -->
</div> <!-- /.demo-container  -->

{% include 'footers/_footer.twig' %}
