{#
    08/16/2014
#}

{% extends 'base.html.twig' %}




{% block inlined_styles %}
    <style>{% include 'css/critical-css/demos.' ~ ( critical_update ) ~ '.min.css' %}</style>
{% endblock %}


{% block body %}
  <div class="push-down">
    <div class="full-to-half demo-link">
      <figure>
        <a href="/demo/bolt-betterthumbs">
          <span class="visuallyhidden">Bolt BetterThumbs</span>
          <div class="demo-icon icon-demos-bolt"></div>
        </a>
        <figcaption>
          <h4>
            BetterThumbs for Bolt
          </h4>
          <p>
            Bolt Extension For BetterThumbnails &amp; Responsive Images
          </p>
        </figcaption>
      </figure>
    </div>
    <div class="full-to-half demo-link">
      <figure>
        <a href="/demo/bolt-html5-videos">
          <span class="visuallyhidden">Bolt HTML5 Videos</span>
          <div class="demo-icon icon-demos-bolt"></div>
        </a>
        <figcaption>
          <h4>
            Bolt HTML5 Videos
          </h4>
          <p>
            Bolt Extension For Local and Personal CDN HTML5 Videos
          </p>
        </figcaption>
      </figure>
    </div>
    <div class="full-to-half demo-link">
      <figure>
        <a href="/demo/bolt-responsive-images">
          <span class="visuallyhidden">Bolt Responsive Images</span>
          <div class="demo-icon icon-demos-bolt"></div>
        </a>
        <figcaption>
          <h4>
            Bolt Responsive Images
          </h4>
          <p>
            Bolt Extension For Responsive Images
          </p>
        </figcaption>
      </figure>
    </div>
    <div class="full-to-half demo-link">
      <figure>
        <a href="http://extensions.bolt.cm/view/2d970956-ef5a-11e4-9120-621e70d6e3eb">
          <span class="visuallyhidden">Bolt WebFont Loader Bolt Marketplace</span>
          <div class="demo-icon icon-demos-bolt"></div>
        </a>
        <figcaption>
          <h4>
            Bolt WebFont Loader
          </h4>
          <p>
            Bolt Extension Using Typekit Webfont Loader.
          </p>
        </figcaption>
      </figure>
    </div>
    <div class="full-to-half demo-link">
      <figure>
        <a href="/demo/concrete5-magnific-popup">
          <span class="visuallyhidden">Concrete 5 Magnific Popup</span>
          <div class="demo-icon icon-demos-c5"></div>
        </a>
        <figcaption>
          <h4>
            Concrete5 Magnific Popup
          </h4>
          <p>
            Add-on using Magnific Popup Lightbox Plugin
          </p>
        </figcaption>
      </figure>
    </div>
    <div class="full-to-half demo-link">
      <figure>
        <a href="/demo/concrete5-responsive-images">
          <span class="visuallyhidden">Concrete 5 Responsive Images</span>
          <div class="demo-icon icon-demos-c5"></div>
        </a>
        <figcaption>
          <h4>
            Concrete 5 Responsive Images
          </h4>
          <p>
            Add-on using Picturefill and Foundation Interchange
          </p>
        </figcaption>
      </figure>
    </div>

  </div>
  <!-- /.push-down -->
{% endblock %}

{#{% block footer_javascripts %}#}
    {#{{ parent() }}#}
    {#<script src="{{ paths.theme}}js/navigation.04222015.min.js" async defer ></script>#}
{#{% endblock footer_javascripts %}#}
