{#
    08/16/2014
#}

{% extends 'base.html.twig' %}



{% block inlined_styles %}
    <style>
        {% include 'css/critical-css/404.04242015.css' %}
    </style>
{% endblock %}


{% block body %}
    <div class="push-down full">
        <h5 class="center-text">The Page you were looking for cannot be found</h5>
        {% include 'form/_search.twig' %}
        {% if search is defined %}
            <h3>
                {{ __('Search results for <b> %search% </b>.', { '%search%': search|escape }) }}
            </h3>
        {% endif %}
    </div>
{% endblock %}
{% block footer_javascripts %}
<script src="{{ paths.theme }}js/homepage.js" async defer></script>
{{ parent() }}
{% endblock footer_javascripts %}
