{% include 'headers/_header.twig' %}
<div class="row">
    <ul class="small-block-grid-2">
        <li class="home_hov">
            <a href="work/"><span class="hidden">work</span>
                <div class="home_icon icon-work"></div>
                <div class="mobile_icon icon-work-mobile"></div>
            </a>
        </li>
        <li class="home_hov">
            <a href="contact/"><span class="hidden">contact</span>
                <div class="home_icon icon-contact"></div>
                <div class="mobile_icon icon-contact-mobile"></div>
            </a>
        </li>
    </ul>
  <div class="big_header">
    <header>
      <h1 class="home_header"><span class="logo_first">Cory</span>Dowdy <small>Web Development</small></h1>
    </header>
  </div>
    <ul class="small-block-grid-2">
        <li class="home_hov">
            <a href="blog/"><span class="hidden">blog</span>
                <div class="home_icon icon-blog"></div>
                <div class="mobile_icon icon-blog-mobile"></div>
            </a>
        </li>
        <li class="home_hov">
            <a href="demos/"><span class="hidden">demos</span>
                <div class="home_icon icon-demo"></div>
                <div class="mobile_icon icon-demo-mobile"></div>
            </a>
        </li>
    </ul>
</div>
{% include 'footers/_footer.twig' %}
