{# old include keep here incase I need to switch back

#}
{#
 #   08/15/2014
 #   Switched from Many Includes to one Base template called "base.html.twig"
 #   and extend from it to include page specific javascript and body text.
#}
{% extends 'base.html.twig' %}




{% block inlined_styles %}
<style>
    {% include 'css/critical-css/index.04242015.css' %}
</style>
{% endblock %}
{#
//cdn.corydowdy.com/assets/svg_sprites/linkicons-sprite.svg
{{ paths.theme }}svgsprites/linkicons-sprite.svg
#}

{% block body %}
  <div class="home-intro">
    <p>
      Hi, I'm <strong>Cory Dowdy</strong>. I do web development focused on performance. This is my playground where I
      try out new web techniques, experiment with server side optimizations and overall just be my development guinea
      pig. This site is built on top of <a href="//bolt.cm">Bolt</a> CMS, with help from the <a href="//grunticon.com">Grunticon</a>
      and <a href="//github.com/filamentgroup/enhance/">Enhance</a>
    </p>
  </div>
  <div class="flex-home-featured">
    <div class="first featured-item">
      <p>Check out My blog</p>
      <a href="/blog">
        <span class="visuallyhidden">Blog</span>
        <span class="icons round-icons icon-pencil"></span>
      </a>
    </div>
    <div class="second featured-item">
      <p>Current projects </p>
      <a href="/work">
        <span class="visuallyhidden">Work</span>
        <span class="icons round-icons icon-work" ></span>
      </a>
    </div>
    <div class="third featured-item">
      <p>Get In Touch With Me</p>
      <a href="/contact">
        <span class="visuallyhidden">Contact</span>
        <span class="icons round-icons icon-mail"></span>
      </a>
    </div>
    <div class="fourth featured-item">
      <p>see some of my demos</p>
      <a href="/demo">
        <span class="visuallyhidden">Demos</span>
        <span class="icons round-icons icon-demo"></span>
      </a>
    </div>
  </div>
{% endblock %}

{% block footer_javascripts %}
{#<script src="{{ paths.theme}}js/homepage.min.js" async defer ></script>#}
  <script src="{{ paths.theme }}js/navigation.04222015.min.js" async defer></script>
  {{ parent() }}
{% endblock footer_javascripts %}
