{# old include keep here incase I need to switch back

#}
{#
 #   08/15/2014
 #   Switched from Many Includes to one Base template called "base.html.twig"
 #   and extend from it to include page specific javascript and body text.
#}
{% extends 'base.html.twig' %}




{% block inlined_styles %}
<style>
    {% include 'css/critical-css/index.03-26-2015.min.css' %}
</style>
{% endblock %}
{#
//cdn.corydowdy.com/assets/svg_sprites/linkicons-sprite.svg
{{ paths.theme }}svgsprites/linkicons-sprite.svg
#}

{% block body %}
<div class="push-down--home full">
    <ul class="icon-blocks">
        <li class="home-icon-hover">
            <a href="/work" aria-label="External Link to Work"><span class="visuallyhidden">Work</span>
            <span class="icons home-full-icon icon-work"></span>
            <span class="icons home-mobile-icon icon-work-mobile"></span>
            </a>
        </li>
        <li class="home-icon-hover">
            <a href="/contact"><span class="visuallyhidden">Contact</span>
              <span class="icons home-full-icon icon-contact"></span>
              <span class="icons home-mobile-icon icon-contact-mobile"></span>
            </a>
        </li>
        <li class="home-icon-hover">
            <a href="/blog" aria-label="External Link to Blog"><span class="visuallyhidden">Blog</span>
              <span class="icons home-full-icon icon-blog"></span>
              <span class="icons home-mobile-icon icon-blog-mobile"></span>
            </a>
        </li>
        <li class="home-icon-hover">
            <a href="/demo" aria-label="External Link to Demos"><span class="visuallyhidden">Demos</span>
              <span class="icons home-full-icon icon-demo"></span>
              <span class="icons home-mobile-icon icon-demo-mobile"></span>
            </a>
        </li>
    </ul>
</div>
{% endblock %}

{% block footer_javascripts %}
<script src="{{ paths.theme}}js/homepage.min.js" async defer ></script>
  {{ parent() }}
{% endblock footer_javascripts %}
