@import "scss/settings/settings";
@import "bower_components/foundation/scss/foundation/components/grid";
@import "bower_components/foundation/scss/foundation/components/block-grid";


// custom row class
//.container {
//  @include grid-row();
//}

// make a row full width of the screen
.full-width {
  max-width: 100%;
}


.container {
  margin: 0 auto;
  width: 100%;
  max-width: $row-width;
  @include clearfix();
}
.container-flex {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 100%;
  max-width: $row-width;
}

// full container width column
.full {
  @include grid-column(12);
}

.half-grid {
  width: 50%;
  position: relative;
  padding: 0 rem-calc(15);
  float: left;
}

.half-grid-flex {
  flex:0 0 50%;
  padding: 0 rem-calc(15);
}

// centered header
.centered-header {
 @include grid-column(12);
  text-align: center;
  @media screen and (min-width: 50em) {
    @include grid-column(
    $columns:10,
    $center:true
    );
  }
}


.centered-5-to-full {
  @include grid-column(12);
  @media screen and (min-width:50em) {
    @include grid-column(
      $columns: 5,
      $center: true
    );
  }
}

// block grid for work Icon blocks
.icon-blocks {
  @include block-grid(2);
}
// block grid for Popup Images
.popup-block--three {
  @include block-grid(3);
}
.popup-block--two {
  @include block-grid(2);
  @media screen and (min-width:50em) {
    @include block-grid(4);
  }
}
.popup-block--css-dialog {
  @include block-grid(2);
  @media screen and (min-width:50em) {
    @include block-grid(3);
  }
}

.block-grid--sm2-lg3 {
  @include block-grid(1);
  @media screen and (min-width: 361px) {
    @include block-grid(2);
  }
  @media screen and (min-width:50em) {
    @include block-grid(3);
  }
}


.full-to-half {
  @include grid-column(12);
  @media screen and (min-width:50em) {
    @include grid-column(6);
  }
}

//.full-to-half--small-center-only {
//  @media screen and (max-width: 49.9375em) {
//    @include grid-column(
//      $columns: 12,
//      $center: true
//    );
//  }
//  @media screen and (min-width:50em) {
//    @include grid-column(
//    $columns: 6,
//    $center: false
//    );
//  }
//}
// Magnific Popup SIngle image grid
.popup-container--single {
  @include grid-column(12);
  @media screen and (min-width:50em) {
    @include grid-column(4);
  }
}
// Video Container
.video-container {
  @include grid-column(
    // Control the number of columns
  $columns:10,
    //  center this column
  $center:true
  );
}

// Contact Form Container
.form-header {
  @extend .video-container;
  @media screen and (max-width: 49.9375em) {
    @include grid-column(12);
  }
}
.listing-snippet{
  @include grid-column(8);
  @media screen and (max-width: 49.9375em) {
    @include grid-column(12);
  }
}
.snippet {
  @include grid-column(12);
  @media screen and (min-width:50em) {
    @include grid-column(
      $columns: 8,
      $center: true
    );
  }
}
