<footer id="stick-footer">
    <p>&copy Cory Dowdy Web Development</p>
</footer>
</section><!-- /.main-section -->

<!-- close the off-canvas menu -->
<a class="exit-off-canvas"></a>
</div>


</div>

<script src="{{ paths.theme }}js/min/CoryDowdy-blog.min.js"></script>

<script>
  $(document).foundation();
</script>

</body>
</html>
