<footer id="sticky-footer">
    <p>&copy Cory Dowdy Web Development</p>
</footer>
</section><!-- /.main-section -->

<!-- close the off-canvas menu -->
<a class="exit-off-canvas"></a>
</div>


</div>

<script src="{{ paths.theme }}js/min/CoryDowdy-blog.min.js"></script>
<script>
    $(document).foundation();
</script>
<script>
    $(window).bind("load", function () {
        var footer = $("#sticky-footer");
        var pos = footer.position();
        var height = $(window).height();
        height = height - pos.top;
        height = height - footer.height();
        if (height > 0) {
            footer.css({
                'margin-top': height + 'px'
            });
        }
    });
</script>
<script>
    $(function(){FastClick.attach(document.body);});
</script>
<script>Modernizr.load([{test : Modernizr.cssremunit,nope:['js/rem.min.js']}]);</script>
</body>
</html>