<footer id="sticky-footer">
    <p class="text-center">&copy Cory Dowdy Web Development</p>
</footer>
</section>

<!-- close the off-canvas menu -->
<a class="exit-off-canvas"></a>
</div>

</div>


<script src="{{ paths.theme }}js/min/CoryDowdy.min.js"></script>
<script src="{{ paths.theme }}form/abide.js"></script>
<script>
    $(document).foundation({
        abide : {
            live_validate : true,
            focus_on_invalid : true,
            error_labels: true, // labels with a for="inputId" will recieve an `error` class
            }
    });

    $(function(){FastClick.attach(document.body);});
</script>
<script>
    $(window).bind("load", function () {
        var footer = $("#sticky-footer");
        var pos = footer.position();
        var height = $(window).height();
        height = height - pos.top;
        height = height - footer.height();
        if (height > 0) {
            footer.css({
                'margin-top': height + 'px'
            });
        }
    });
</script>
</body>
</html>
