<footer class="row">
    <p class="text-center">&copy Cory Dowdy Web Development</p>
</footer>
</section><!-- /.main-section -->
<!-- close the off-canvas menu -->
<a class="exit-off-canvas"></a>
</div>
</div>

<script src="{{paths.theme }}js/min/CoryDowdy-demos.min.js" ></script>

<script src="{{paths.theme }}js/demo-mag-custom.js"></script>

</body>
</html>