---

slug: moving-from-apache-to-nginx

status: published
image: 2014-10/nginx_rocket.png
date: 2014-10-27
metatitle: 'Moving From Apache to NGINX'
title:  'Moving From Apache to NGINX'
metadescription: 'Migrating a site from Apache Server To an NGINX server with Naxsi'
metakeywords: 'apache migrate to nginx, nginx vs apache'
teaser: '<p>It seems more and more people are going to Nginx instead of Apache and rave about the speed. Since I''m not a system admin and never claimed to be one I figured I''d document my switch to Nginx.</p>'
tags: [ blogs, 'nginx' ]
categories:
    - 'nginx'
---
