@import "scss/settings";
@import "bower_components/foundation/scss/foundation/components/grid";
@import "bower_components/foundation/scss/foundation/components/block-grid";


// custom row class
.container {
  @include grid-row();
}
// centered header
.centered-header {
  @include grid-column(
    $columns:10,
    $center:true
  );
  text-align: center;
}
// custom small-12 class... 12 columns all sizes
.full {
  @include grid-column(12);
}

.centered-5-to-full {
  @include grid-column(12);
  @media #{$large-up} {
    @include grid-column(
      $columns: 5,
      $center: true
    );
  }
}

// block grid for work Icon blocks
.icon-blocks {
  @include block-grid(2);
}
// block grid for Popup Images
.popup-block--three {
  @include block-grid(3);
}
.popup-block--two {
  @include block-grid(2);
  @media #{$large-up} {
    @include block-grid(4);
  }
}
.popup-block--css-dialog {
  @media #{$small-to-medium} {
    @include block-grid(2);
  }
  @media #{$large-up} {
    @include block-grid(3);
  }
}
.full-to-half {
  @include grid-column(12);
  @media #{$large-up} {
    @include grid-column(6);
  }
}
.full-to-half--small-center-only {
  @media #{$small-to-medium} {
    @include grid-column(
      $columns: 12,
      $center: true
    );
  }
  @media #{$large-up} {
    @include grid-column(
    $columns: 6,
    $center: false
    );
  }
}
// Magnific Popup SIngle image grid
.popup-container--single {
  @include grid-column(12);
  @media #{$large-up} {
    @include grid-column(4);
  }
}
// Video Container
.video-container {
  @include grid-column(
    // Control the number of columns
  $columns:10,
    //  center this column
  $center:true
  );
}

// Contact Form Container
.form-header {
  @extend .video-container;
  @media #{$small-to-medium} {
    @include grid-column(12);
  }
}
.listing-snippet{
  @include grid-column(8);
  @media #{$small-to-medium} {
    @include grid-column(12);
  }
}
.snippet {
  @include grid-column(12);
  @media #{$large-up} {
    @include grid-column(
      $columns: 8,
      $center: true
    );
  }
}
