.heading {
  padding-top: 1em;
  border-bottom: 1px solid #eee;
}

.blog-info-using{
  @include alert(
  $bg: $header-color,
  $radius: true
  );
  text-align: center;
}




.ind-panel {
  @include panel(
    // Sets the panel background color. Default: $panel-pg
  $bg:$header-color,
    // Sets the panel padding amount. Default: $panel-padding
  $padding:20px,
    // Sets the font color based on the darkness of the bg & resets header line-heights for panels. Default: $panel-header-adjust
  $adjust:true
  );
  ul li {
    color: #fff;
  }
}

.w-60 {
  width: 100%;
  @media screen and (min-width: 50em) {
    width: 60%;
  }
}

// listing link styles
//.listing-link {
//  color: $primary-color;
//  font-size: rem-calc(18);
//  &:focus, &:hover {
//    color: #111;
//    border-bottom: 1px solid $gray;
//  }
//}
//.listing-image {
//  display: none;
//  @media screen and (min-width: 50em) {
//    @include grid-column(4);
//    display: block;
//  }
//  @media screen and (max-width: 49.9375em) {
//    display: none;
//  }
//}


// styles for publication date
.pub-date {
  color: $gray;
  // for flexbox catergories to the right on desktop test
  //margin-bottom: rem-calc(16);
  //padding-bottom: rem-calc(16);
  //margin-bottom: 0;
}

.heading-pub {
  font-size: rem-calc(16);
}

// styles for blog tables .. thing that are used
.using, .table-no-style {
  margin: auto;
  margin-bottom: 1.25em;
  border: none;
  th {
    font-weight: 400;
    background-color: $body-bg;
    border-bottom: 1px solid $header-color;
  }
  tr:nth-of-type(even) {
    background-color: $body-bg;
  }

}

.table-text {
  text-align: left;
}
.table-number {
  text-align: right;
}

// twitter tweet stylings
.twitter--container {
  padding: 8px 8px;
  background: #fff;
  border: 1px solid $header-color;
  border-radius: 5px;
}
blockquote {
  color: $body-font-color;
  border: 1px solid #dddddd;
  padding-bottom: 0.5625rem;
  p {
    color: $body-font-color;
  }

}
