.heading {
  padding-top: 1em;
  border-bottom: 1px solid #eee;
}

.blog-info-using{
  @include alert(
  $bg: $header-color,
  $radius: true
  );
  text-align: center;
}


.blog-post-title {
  a{
    color: $header-font-color;
    &:focus, &:hover{
      color: $primary-color;
      border-bottom: 1px solid $gray;
    }

  }

}

.ind-panel {
  @include panel(
    // Sets the panel background color. Default: $panel-pg
  $bg:$header-color,
    // Sets the panel padding amount. Default: $panel-padding
  $padding:20px,
    // Sets the font color based on the darkness of the bg & resets header line-heights for panels. Default: $panel-header-adjust
  $adjust:true
  );
  ul li {
    color: #fff;
  }
}

// listing link styles
.listing-link {
  color: $primary-color;
  font-size: 18px;
  &:focus, &:hover {
    color: #111;
    border-bottom: 1px solid $gray;
  }
}
.listing-image {
  @media #{$large-up} {
    @include grid-column(4);
  }
  @media #{$small-to-medium} {
    display: none;
  }
}

// styles for publication date
.pub-date {
  color: $gray;
}

// styles for blog tables .. thing that are used
.using, .table-no-style {
  margin: auto;
  margin-bottom: 1.25em;
  border: none;
  th {
    font-weight: 400;
    background-color: $body-bg;
    border-bottom: 1px solid $header-color;
  }
  tr:nth-of-type(even) {
    background-color: $body-bg;
  }

}
/*
.table-no-style {
 @extend .using;
  th {
    background-color: $body-bg;
  }
  tr:nth-of-type(even) {
    background-color: $body-bg;
  }
}
*/
.table-text {
  text-align: left;
}
.table-number {
  text-align: right;
}

// twitter tweet stylings
.twitter--container {
  padding: 8px 8px;
  background: #fff;
  border: 1px solid $header-color;
  border-radius: 5px;
}
blockquote {
  color: $body-font-color;
  border: 1px solid #dddddd;
  padding-bottom: 0.5625rem;
  p {
    color: $body-font-color;
  }

}
