// Cory Dowdy
// 8-8-2014
// github.com/cdowdy/corydowdy.com-site


// REMINDER... SET FONT SIZE TO 16PX (1REM) to stop zoom in on mobile phones in inputs


$success-color: #43ac6a;
$error-color:   #d9534f;


.form-success,
.form-error {
  border: 1px solid #3a945b;
  border-radius: 3px;
  background: $success-color;
  color: $white;
  text-align: center;
  margin-bottom: rem-calc(20);
  padding: rem-calc(14) rem-calc(24) rem-calc(14);
  font-size: rem-calc(16);
}



.form-error {
  background-color: $error-color;
  border-color: scale-color($error-color, $lightness: $alert-function-factor);
}


// form grid
/* form grid 12 columns small screen 8 columns centered large ones */
.form-container, .form-submitted-container {
  @include grid-column(12);
  @media screen and (min-width: 50em) {
    @include grid-column(
    $columns: 8,
    $center: true
    );
  }
}

/* for hidden honeypot field inputs */
.koalaBears {
  display: none;
}

input[type=text].koalaBears {
  display: none;
}

[for="contact_koalaBears"] {
  display: none;
}



//
//input[type=email], input[type=search], input[type=text], textarea {
//  font-size: rem-calc(16);
//}


.contact-info {
  p {
   @media screen and (min-width: 50em) {
     text-align: center;
   }
  }
}

.contact-list {
  width: 100%;
  float: left;
  @media screen and (min-width: 50em) {
    width: 50%;
    float: none;
    margin: 0 auto;
  }

  li {
    margin-top: rem-calc(3);
  }
}

//li[itemprop*="email"] {
//
////  &:after {
////    content: 'cory@corydowdy.com';
////  }
//}

//a[href^="mailto"] {
//  color: purple;
//    &:before {
//      background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22100%22%20height%3D%22100%22%20viewBox%3D%220%200%20100%20100%22%3E%3Ccircle%20fill%3D%22%232C3E50%22%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%2F%3E%3Cpath%20fill%3D%22%23F2F2F2%22%20d%3D%22M73.438%2029.492H26.563c-4.314%200-7.813%203.5-7.813%207.813v25.39c0%204.315%203.498%207.814%207.813%207.814h46.875c4.314%200%207.813-3.5%207.813-7.814v-25.39c0-4.314-3.498-7.814-7.812-7.814zM22.656%2039.746L36.326%2050l-13.67%2010.254V39.746zm54.688%2022.95c0%202.155-1.754%203.905-3.906%203.905H26.563c-2.154%200-3.906-1.75-3.906-3.905L37.954%2051.22l8.53%206.4c1.042.777%202.278%201.172%203.517%201.172%201.237%200%202.474-.393%203.515-1.172l8.533-6.4%2015.296%2011.475zm0-2.442L63.672%2050l13.672-10.254v20.508zM52.342%2056.06c-.682.51-1.49.78-2.342.78s-1.662-.27-2.344-.78l-25-18.755c0-2.154%201.752-3.906%203.906-3.906h46.875c2.152%200%203.906%201.75%203.906%203.905l-25%2018.754z%22%2F%3E%3C%2Fsvg%3E'); background-repeat: no-repeat;
//      background-image: url('png/mail.png'); background-repeat: no-repeat;
//      padding-bottom: 10%;
//    }
//}
//.contact-icons {
//  display: inherit;
//  padding-bottom: 10%;
//  background-size: contain;
//}
