
.current-project--evolution {
  margin-top: 5%;
}

.showcase-container {

  @include grid-column(12);
  @media screen and (min-width: 50em) {
    @include grid-column(
      $columns:9,
      $center:true
    );
  }
}
//.showcase-container--full {
//  @include grid-column(12);
//}

//.showcase-container--half {
//  @include grid-column(12);
//  @media #{$medium-up} {
//    @include grid-column(6);
//  }
//}

.showcase-figure {
  @media screen and (max-width: 549px) {
    width: 100%;
    margin: 0 auto;
  }
}
.showcase-container--caption {
  margin-top: 1.25rem;
}

.showcase-popup-caption {
  text-align: center;
  small {
    font-size: 85%;
  }
}

