// Cory Dowdy
// 8-8-2014
// github.com/cdowdy/corydowdy.com-site


// REMINDER... SET FONT SIZE TO 16PX (1REM) to stop zoom in on mobile phones in inputs


$success-color: #43ac6a;
$error-color:   #d9534f;


// success and error states
.form-success {
  @include alert(
    // Adjust the background of the alert
  $bg: $success-color,
    // Give a border to the alert box
  $radius: true
  );
  @include radius();
  text-align: center;
}

.form-error {
  @extend .form-success;
  background-color: $error-color;
  border-color: scale-color($error-color, $lightness: $alert-function-factor);
}
.colored-bg {
  @include panel(
    $bg: $header-color
  );

}
// form grid
/* form grid 12 columns small screen 8 columns centered large ones */
.form-container, .form-submitted-container {
  @include grid-column(12);
  @media #{$large-up} {
    @include grid-column(
    $columns: 8,
    $center: true
    );
  }
}
//
//input[type=email], input[type=search], input[type=text], textarea {
//  font-size: rem-calc(16);
//}



