@import "scss/settings";



.home-icon-hover {
  .home-full-icon {
    width: 350px;
    height: 266px;
    margin: 0 auto;
    margin-top: 15px;
    display: block;
    /*
    @media screen and (max-width: 800px) {
      display: none;
    }
    */
    @media #{$small-to-medium} {
      display: none;
    }
  }
  .home-mobile-icon {
    width: 100%;
    height: 206.809px;
    margin: 0 auto;
    margin-top: 10px;
    display: block;
    /*
    @media screen and (min-width: 800px) {
      display: none;
    }
    */
    @media #{$large-up} {
      display: none;
    }
  }
}
/*
.home-mobile-icon  {
  width: 100px;
  height: 207px;
  display: block;
  margin-top: 15px;
  @media #{$large-up} {
    display: none;
  }
  @media screen and (min-width: 0em) and (max-width: 14.063em) { // up to 225pixels
   display: none;
  }
}
*/
.push-down--home {
  margin-top:  rem-calc(65);//40px;
  @media #{$large-up} {
    margin-top: rem-calc(30);
  }
}
