---
slug: apng-vs-webp-vs-gif
status: published
image: apng-webp-gif-battle.png
date: 2017-06-13
title: 'Animated PNG VS. Animated Webp VS. GIF battle Royale!'
metatitle: 'Animated PNG VS. Animated Webp VS. GIF battle Royale!'
metadescription: 'Animated Webp, Animated PNG vs GIF website page speed performance on mobile and desktop devices compared to MP4 and WebM''s used as GIF''s'
metakeywords: 'APNG, animated png, animated webp, webp, apng vs webp, apng vs gif, animated png perfomance, convert to apng, convert to webp'
teaser: "<p>With Chrome now supporting Animated PNG as of Chrome 59 we have two image formats that can supplant the old and tired GIF format. Varying posts and sites have different conclusions on when to use APNG versus an animated Webp. In all my findings (linked below where the source Gif comes from) animated webp beats apng in filesize each and every time. Sometimes by not very much.</p>\r\n"
tags: [ blogs, 'web performance' ]
categories:
    - 'web performance'
---
