---
title: Blog
slug: ./blog
tags: [ mainnav ]
layout: layouts/base.njk
pagination:
  data: collections.blogs
  size: 5
  alias: posts
---

<div class="push-down">
  <div class="container">
    <div class="blog-list">
      {% for post in posts %}
        <article role="article" class="blog-list--post" itemscope="" itemtype="http://schema.org/BlogPosting">
          <meta itemprop="image" content="/files/{{ post.data.image }}" />
          <header>
            <h1 class="blog-list--title" itemprop="headline url">
              <a class="blog-link" href="{{ post.url }}">{{ post.data.title }}</a>
            </h1>
            <p class="pub-date" itemprop="datePublished">
              {{ post.data.datepublish | humanDate }}
            </p>
          </header>
          <p class="blog-teaser" itemprop="description">
            {{ post.data.teaser | striptags }}
          </p>
          <ul class="blog-list--info">
            <li>
              <a itemprop="url" href="{{ post.url }}">Read Post &#10141;</a>
            </li>
            {% if post.data.categories %}
              <li class="blog-list--categories">
                <strong>Category:</strong>
                {% for category in post.data.categories %}
                  <a aria-label="Blog Category {{ category }}" href="/categories/{{ category | slug  }}">{{ category }}</a>
                {% endfor %}
              </li>
            {% endif %}
          </ul>
        </article>
        <hr />
      {% endfor %}

      {% if pagination.hrefs.length > 1 %}
        <section class="blog-pagination">
          <ul class="pagination-list" role="menubar" aria-label="Pagination">
            {% if pagination.previousPageHref %}
              <li class="arrow">
                <a href="{{ pagination.previousPageHref }}" aria-label="Newer Posts">
                  &laquo; Newer Posts
                </a>
              </li>
            {% endif %}

            {% if pagination.nextPageHref %}
              <li class="arrow">
                <a href="{{ pagination.nextPageHref }}">
                  Older Posts &raquo;
                </a>
              </li>
            {% endif %}
          </ul>
        </section>
      {% endif %}

    </div>
    <aside role="complementary" class="blog-list--sidebar">
      {#  include 'form/_blog-search.html.twig' #}
      <ul class="blog--category-list">
        <li class="category-list-header">
          <h3>Categories</h3>
        </li>
      </ul>
    </aside>
  </div>
</div><!-- /.push-down -->
