// IE 8 notice
.browsehappy {
  margin: 3px;
  background: #F2DEDE;
  color: #A94442;
  border-color: #EBCCD1;
  padding: 10px;
}

// center stuff
.center,
%center {
  display: block;
  margin: auto;
}
.center-text,
.text-center,
%center-text {
  text-align: center;
}


.hide-small {
  display: none;
}
@media all and (min-width: 535px) {
  .hide-small {
    display: inline-block;
  }
}


.mobile-help,
%mobile-help {
  @media screen and (min-width: 50em) {
    display: none;
  }
}

.push-down,
%push-down {
  margin-top: rem-calc(25);
  @media screen and (min-width: 50em) {
    margin-top: 70px;
    margin-top: rem-calc(70);
  }
}

.show-for-big {
  display: none;
  @media screen and (min-width: 50em) {
    display: inherit;
  }
}

video{
  max-width: 100%;
  height: auto;
}
