---

slug: service-workers-resources-tips-and-solutions

status: published
image: service-workers-blog.jpg
date: 2016-04-17

title: 'Service Workers: Resources, Tips and Solutions'
metatitle: 'Service Workers: Resources, Tips and Solutions'
metadescription: 'Service Workers Resources, Tips on how to create them over HTTP in Firefox and Chrome and fixing critical css workflow that uses cookies or server side includes.'
metakeywords: 'Service Workers, Critical CSS, Service Workers Chrome command over HTTP, Firefox Service Workers HTTP, Service Workers Resources, Service Workers Critical CSS'
teaser: "<p>Resources I used to create a Service Worker. How to develop them without an SSL cert over regular HTTP in Firefox and Chrome and how I fixed my critical CSS to load without calling the server side code.</p>\r\n"
tags: [ blogs, 'web performance' ]
categories:
    - 'web performance'
---
