---
datechanged: 2015-12-15 15:33:14
slug: it-s-apple-s-web-we-re-just-playing-in-it
datecreated: 2015-10-12 14:04:14
status: published
image: playground-1.jpg
date: 2015-10-12
datedepublish: null
title: 'Its Apples Web. Were Just Playing in It'
metatitle: 'Its Apple''s Web. Were Just Playing in It'
metadescription: 'With apple''s new javascript touch events along with their touch icons they are continuing to tell devs to do it their way.'
metakeywords: 'ios meta tag bug, 300ms click delay safari, force touch javascript events'
teaser: '<p>Apple tells us that we should do it "their way". You have to look no further than their new JavaScript events for Force Touch and their Touch Icons. - Updated with recent Webkit additions on 15-12-2015!</p>'
tags: [ blogs, 'the web' ]
categories:
    - 'the web'
---
