/* definition lists dispaly attribs*/
//.categories-heading {
//  font-weight: 700;
//  @media screen and (min-width: 615px) {
//    display: inline;
//  }
//}
//
//.categories-item {
//  @media screen and (min-width: 615px) {
//    display: inline;
//  }
//
//  a {
//    color: #fff;
//    padding: rem-calc(10);
//    margin-right: rem-calc(10);
//    transition: background-color .5s ease;
//    background-color: $header-color;
//    &:hover, &:focus {
//      background-color: #e8e8e8;
//      color: $header-color;
//    }
//  }
//}
//
//.blog-tags {
//  display: flex;
//
//  flex-wrap: wrap;
//  //justify-content: space-between;
//  list-style: none;
//  @media screen and (min-width: 550px) {
//    flex-direction: row;
//  }
//  flex-direction: column;
//}
//
//.blog-tags--heading {
//  //margin-right: 0;
//  padding-right: rem-calc(15);
//}
//
//.blog-tags--item {
//  @media screen and (min-width: 550px) {
//    padding: 0 10px;
//  }
//  padding: 10px;


  //a {
  //  &:after {
  //    content: ", ";
  //  }
  //  &:last-child:after {
  //    content: "";
  //  }
  //}
//}
//.blog-tags a:after {
//  content: ", "
//}
//
//.blog-tags a:last-child:after {
//  content: ""
//}

//.blog-tags--item a:after {
//  content: ", ";
//}
//
//.blog-tags--item a:last-child:after {
//  content: "";
//}


/* July 11, 2015 Blog Tags/Categories Test using Flexbox on the UL */

// read more - categories list on the main blog listing page.

.blog-post--extras {
  @extend .container-flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}

.blog-post--extras-link {
  margin-right: auto;
  //a {
  //  //padding: rem-calc(10) rem-calc(10) rem-calc(10) rem-calc(5);
  //  &:hover,
  //  &:focus {
  //    background: $header-color;
  //    color: $white;
  //  }
  //}
}

//.blog-categories {
//  a:not(:last-child):after {
//    content: ', ';
//  }
//  //a:visited {
//  //  color: purple;
//  //}
//}

.blog-listing-category-list {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  //margin-left: 0;

  li {
    width: 50%;
    padding-bottom: rem-calc(10);
  }
  li a {
    //background: $header-color;
    color: $header-color;
    font-weight: bold;
  }
}

.pagination-centered {
  //border-top: 1px solid #dddddd;
//  border-bottom: 1px solid #dddddd;
//  margin: 1.25rem 0 1.1875rem;
}
