// overrides for subnav in demos pages
//.demo-nav {
//  @include sub-nav();
//  dd {
//    @media screen and (min-width: 50em) {
//      float: none;
//      display: inline;
//    }
//  }
//}
//
//
//.demo-link {
//  text-align: center;
//  &:hover, &:focus {
//    background-color: $header-color;
//    border-radius: 4px;
//    h4,p {
//      color: $ally-back;
//    }
//  }
//}

//$a11y-grays : #4f5a65;
$a11y-grays: (
  gray-blue: #4f5a65,
  gray-cyan: #4b5555,
);

$demo-nav-font-color : $aluminum;
$demo-nav-font-size: rem-calc(14);
$demo-nav-list-style: none;
$demo-item-width: 100px;


//@mixin demo-nav();
.demo-nav {
  display: flex;
  flex-direction: row;
  @media screen and (max-width: 18.75em) {
    flex-direction: column;
  }
  flex-wrap: wrap;
  list-style: none;
  font-size: $demo-nav-font-size;

  margin-left: 0;
  width: 100%;
  justify-content: space-around;
  @media screen and (max-width: 32.1875em) {
    justify-content: space-between;
  }
  align-items: center;
}

.demo-nav--item {
  padding: rem-calc(5);

  @media screen and (max-width: 49.9375em) {
    padding: rem-calc(10);
  }

}

.demo-nav--anchor {
  color: map-get($a11y-grays, gray-blue);
  padding: rem-calc(5);

  @media screen and (max-width: 49.9375em) {
    padding: rem-calc(10);
  }
  &:focus,
  &:hover,
  &:active {
    background: $header-color;
    color: white;
  }
}

// Classes for Browsers that don't support flexbox.
// forget about ie 8 users and no media query support right now

.no-flexbox {

  // main demo nav container
  .demo-nav {
    display: block;
    text-align: center;
    @include clearfix();

    .demo-nav--item:nth-of-type(2n+1) {
      clear: both;
    }
  }

  .demo-nav--item {
    float: left;
    width: 100%;
    margin-bottom: rem-calc(10);
    margin-bottom: 10px;
    padding: rem-calc(5) 0;
    padding: 5px 0;

    @media screen and (min-width: 21.25em ) {
      width: 50%;
    }
    @media screen and (min-width: 50em) {
     display: inline;
    }
  }

  .demo-nav--anchor {
    padding: rem-calc(5) rem-calc(10);
    padding: 5px 10px;
    margin: 0;
  }
}
