// Full size icons = 356px wide & 266px tall
// set it to 100% width so it fills its container in every viewport ( for inline svg )
// add a margin to the top to place them nicely in the container



.icons,
%icons {
  background-position: center;
}

.no-svg {
  .round-icons {
    width: 100px;
    height: 100px;
    //    background-size: contain;
    //    background-position: center top;
    display: block;
    margin: auto;
    &:hover,
    &:focus {
      background-color: #f2f2f2;;
    }
  }
}

.demo-icon {
  padding-bottom: 50%;
  /* display: inline; */
  width: 100%;
  background-size: contain;
  background-position: center center;
  margin-bottom: 10px;
}
