.icon-add-on { background-image: url('png/add-on.png'); background-repeat: no-repeat; }

.icon-blog-mobile { background-image: url('png/blog-mobile.png'); background-repeat: no-repeat; }

.icon-blog-mobile_hover { background-image: url('png/blog-mobile_hover.png'); background-repeat: no-repeat; }

.icon-blog { background-image: url('png/blog.png'); background-repeat: no-repeat; }

.icon-blog_hover { background-image: url('png/blog_hover.png'); background-repeat: no-repeat; }

.icon-c5-demo-2-small { background-image: url('png/c5-demo-2-small.png'); background-repeat: no-repeat; }

.icon-c5-demo-2 { background-image: url('png/c5-demo-2.png'); background-repeat: no-repeat; }

.icon-c5-demo-small { background-image: url('png/c5-demo-small.png'); background-repeat: no-repeat; }

.icon-c5-demo { background-image: url('png/c5-demo.png'); background-repeat: no-repeat; }

.icon-contact-mobile { background-image: url('png/contact-mobile.png'); background-repeat: no-repeat; }

.icon-contact-mobile_hover { background-image: url('png/contact-mobile_hover.png'); background-repeat: no-repeat; }

.icon-contact { background-image: url('png/contact.png'); background-repeat: no-repeat; }

.icon-contact_hover { background-image: url('png/contact_hover.png'); background-repeat: no-repeat; }

.icon-demo-mobile { background-image: url('png/demo-mobile.png'); background-repeat: no-repeat; }

.icon-demo-mobile_hover { background-image: url('png/demo-mobile_hover.png'); background-repeat: no-repeat; }

.icon-demo { background-image: url('png/demo.png'); background-repeat: no-repeat; }

.icon-demo_hover { background-image: url('png/demo_hover.png'); background-repeat: no-repeat; }

.icon-icon-work-page { background-image: url('png/icon-work-page.png'); background-repeat: no-repeat; }

.icon-rsp-work { background-image: url('png/rsp-work.png'); background-repeat: no-repeat; }

.icon-work-mobile { background-image: url('png/work-mobile.png'); background-repeat: no-repeat; }

.icon-work-mobile_hover { background-image: url('png/work-mobile_hover.png'); background-repeat: no-repeat; }

.icon-work-page-small { background-image: url('png/work-page-small.png'); background-repeat: no-repeat; }

.icon-work-page { background-image: url('png/work-page.png'); background-repeat: no-repeat; }

.icon-work { background-image: url('png/work.png'); background-repeat: no-repeat; }

.icon-work_hover { background-image: url('png/work_hover.png'); background-repeat: no-repeat; }

