// body stuff for offcanvas
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

// Menu Icon for the top bar (hamburger)
.menu-icon {
  height: 45px;
  width: 45px;
  fill: $silver;
  display: inline;
}
.mobile-help {
  @media #{$large-up} {
    display: none;
  }
}


// center stuff
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.center-text {
  text-align: center;
}

.footer--container {
  border-top: 1px solid #444;
}

// lists that are of external links


  // Promote Layer so shit is smoooth yo

.promote-layer {
  /*
  This may promote the layer to a composited
  layer.

  Replace with will-change when available

  #perfmatters
  */
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}


.push-down {
  margin-top: 70px;
}

.popup-caption {
  text-align: center;
}

// overrides for subnav in demos pages
.demo-nav {
  @include sub-nav();
  dd {
    @media #{$large-up} {
      float: none;
    }
  }
}

video{
  max-width: 100%;
  height: auto;
}

