<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible"
          content="ie=edge">
    <meta name="theme-color"
          content="#2C3E50"/>

    {{! Bing Validation }}
    <meta name="msvalidate.01"
          content="346403273F73350B6928A46B28684A5B" />
    {{! Chrome Webapp Capable }}
    <meta name="mobile-web-app-capable"
          content="yes">

    <title>Document</title>
</head>
<body>
<header class="fn-header" id="js-header" role="banner">
    <div class="header-wrap">
        <div class="fn-header__title-container">
            <h1 class="fn-header__name"><a href="/">Cory Dowdy</a></h1>
            <button id="fn-header__button" class="fn-header__button"
                    aria-label="Menu"
                    aria-expanded="false"
                    aria-controls="js-nav">Menu &#x2261;
            </button>
        </div>
        <input type="checkbox" id="fn-noJs" class="fn-navTrigger__no-js"/>
        <label id="fn-noJs_label" for="fn-noJs"><span class="visuallyhidden">Menu Button</span></label>
        <nav class="fn-nav-container" role="navigation">
            <ul class="fn-navigation" id="js-nav">
                 {{#each main-nav.data.title }}
                <li class="fn-navigation__item">
                    <a href="{{ main-nav.data.slug }}">{{ main-nav.data.title }}</a>
                </li>
                {{/each}}
            </ul>
        </nav>
        <!-- /.fn-nav-container -->
    </div>
</header>
<!-- /.fn-header -->

{{ content }}
</body>
</html>
