---
layout: default
tags: main-nav
title: Home
slug: /
metadescription": "Cory Dowdy Web Development. A small business minded web development company focused on standards and a web that fits on every device"
---
<div class="home-intro">
    <p>
        Hi, I'm <strong>Cory Dowdy</strong>. I do web development focused on performance. This is my playground where I
        try out new web techniques, experiment with server side optimizations and overall just be my development guinea
        pig. This site is built with <a href="https://www.11ty.io/">Eleventy</a> static site generator, with help from the <a
            href="http://www.grunticon.com/">Grunticon</a>
        and <a href="https://github.com/filamentgroup/enhance/">Enhance</a>
    </p>
</div>
<div class="flex-home-featured">
    <div class="first featured-item">
        <p>Check out My blog</p>
        <a href="/blog">
            <span class="visuallyhidden">Blog</span>
            <span class="icons round-icons icon-pencil"></span>
        </a>
    </div>
    <div class="second featured-item">
        <p>Current projects </p>
        <a href="/work">
            <span class="visuallyhidden">Work</span>
            <span class="icons round-icons icon-work"></span>
        </a>
    </div>
    <div class="third featured-item">
        <p>Get In Touch With Me</p>
        <a href="/contact">
            <span class="visuallyhidden">Contact</span>
            <span class="icons round-icons icon-mail"></span>
        </a>
    </div>
    <div class="fourth featured-item">
        <p>see some of my demos</p>
        <a href="/demo">
            <span class="visuallyhidden">Demos</span>
            <span class="icons round-icons icon-demo"></span>
        </a>
    </div>
</div>
